# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
.BIN/
*.lnk
.DS_Store

# VS Code
.vscode/
.history/
*.code-workspace

# Network labs
*.pkt
*.pka
*.gns3
*.vdi
*.vmdk
*.iso
*.conf
*.cfg
*.backup
*.bak

# Python / Node / PowerShell cache
__pycache__/
*.pyc
node_modules/
*.ps1xml
*.psc1
*.psd1
*.psm1
